/* 
    Created on : 2014.02.15., 13:26:29
    Author     : dfj
*/
#wrap { position:fixed; left:0; width:100%; top: 60px; height:100%; }
#iframe { display: block; width:100%; height:100%; }
.navbar-brand {
    height: 48px;
    font-family: 'Russo One', sans-serif;
    font-size: 32px;
    background: url('../img/poncifej.png') no-repeat;
    padding-left: 55px;
}

.navbar {
}

.logo {
    margin: 0 auto;
}

.navbar-brand img {
    position: absolute;
    left: 40px;
    top: 3px;
}

body {
}
